<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>news</title>
    <% include components/css.inc.ejs%>
</head>
<body>
<% include components/top.inc.ejs %>
<div class="page">
    <% include components/left.inc.ejs %>
    <div class="content-wrap" >
        <div>
            <form action="?" method="post" enctype="multipart/form-data">
                标题：<input type="text" name="title"><br/>
                描述：<textarea name="description"></textarea><br/>
                图片：<input type="file" name="src"><br/>
                <input type="submit" value="提交">
            </form>
        </div>
        <table border="1" width="100%">
            <thead>
            <tr>
                <th>ID</th>
                <th>标题</th>
                <th>描述</th>
                <th>图片</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <% for(var i=0,len=friends.length;i<len;i++){%>
            <tr>
                <td><%= friends[i].ID %></td>
                <td><%= friends[i].title %></td>
                <td><%= friends[i].description %></td>
                <td><img src="/upload/<%= friends[i].src %>" width="50" height="50"></td>
                <td>
                    <a href="?act=update&id=<%= friends[i].ID%>">修改</a>
                    <a href="?act=delete&id=<%= friends[i].ID%>" onclick="return confirm('你真的要删除该条记录吗？');">删除</a>
                </td>
            </tr>
            <% }%>
            </tbody>
        </table>
        <% if(typeof updateFriend != 'undefined'){ %>
        <div>
            <form action="?" method="post" enctype="multipart/form-data">
                <input type="hidden" name="update_id" value="<%= updateFriend.ID%>">
                标题：<input type="text" name="title" value="<%= updateFriend.title%>"><br/>
                描述：<textarea name="description" ><%= updateFriend.description%></textarea><br/>
                图片：<input type="file" name="src" ><br/>
                <input type="submit" value="提交">
            </form>
        </div>
        <% } %>
    </div>
</div>
</body>
</html>
